@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:wght@700&display=swap');

:root {
  --font-family-sans: 'Open Sans', sans-serif;

  //Line height
  --line-height-headers: 1.1;
  --line-height-body:    1.5;

  // Font sizes
  --font-size-xxs: 0.75rem;   // 12px
  --font-size-xs: 0.875rem;   // 14px
  --font-size-s: 1rem;        // 16px
  --font-size-m: 1.125rem;    // 18px
  --font-size-l: 1.25rem;     // 20px
  --font-size-xl: 1.5rem;     // 24px
  --font-size-xxl: 1.875rem;  // 30px
  --font-size-xxxl: 2.25rem;  // 36px
  --font-size-xxxxl: 3rem;    // 48px

  // Font weight
  --font-weight-thin: 100;      
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  // Spaces
  --space-xxxs: 0.25rem; // 4px
  --space-xxs: 0.375rem; // 6px
  --space-xs: 0.5rem;    // 8px
  --space-s: 0.75rem;    // 12px
  --space-m: 1rem;       // 16px
  --space-l: 1.5rem;     // 24px
  --space-xl: 2rem;      // 32px
  --space-xxl: 2.5rem;   // 40px
  --space-xxxl: 3rem;    // 48px
  --space-xxxxl: 4rem;   // 64px

  // Three different text colors
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);

  // Application colors
  --color-primary:        hsl(277, 100%, 15%);
  --color-primary-rotate:   hsl(calc(277 + 10), 100%, 15%);
  --color-primary-bg:     hsl(277, 100%, 25%);
  --color-secondary:      hsl(50, 100%, 15%);
  --color-secondary-rotate: hsl(calc(50 + 10), 100%, 15%);
  --color-tertiary:       hsl(150, 100%, 15%);
  --color-glint:          hsl(277, 50%, 80%);

  // Neutral colors
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);

  // Border radius
  --border-radius: 0.375rem;

  // Border
  --border: solid 2px var(--color-light);

  // Shadows
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}