// Mixin para container com largura máxima variável
@mixin container($max-width: 1200px) {
  width: 100%;
  max-width: 100%;
  padding: 0 20px; 
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 568px) {
    max-width: 568px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 992px) {
    max-width: 992px;
  }

  @media screen and (min-width: 1200px) {
    max-width: $max-width; 
  }
}

// Mixin para container-fluid (largura total)
@mixin container-fluid {
  width: 100%;
  padding: 0 20px; 
  margin: 0 auto;
}

// Estilos para visualizações em dispositivos móveis (retrato e paisagem)
@media screen and (max-width: 767px) {
  .container {
    @include container(100%);
  }
  .container-fluid {
    @include container-fluid;
  }
}

// Estilos para tablets (modo paisagem)
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    @include container(750px);
  }
}

// Estilos para telas maiores (modo paisagem)
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    @include container(970px);
  }
}
