<section class="section__vacancies">
  <h2 class="title">
    <%= "Hoje temos #{total_vacancies} vagas esperando por você!" %>
  </h2> 
</section>

<% @vacancies.each do |vacancy| %>
<div class="vacancy__box">
  <div class="vacancy__info">
    <div class="info-job">
      <h3><%= link_to vacancy.title, vacancy_path(vacancy) %></h3>
      <p>
        Engenharia de Software
      </p>
    </div>
    <div class="info-job-mode">
      <span><%= vacancy.vacancy_level %></span>
      <p><%= vacancy.salary %></p>
    </div>
  </div>
</div>
<% end %>