.authenticate {
  display: flex;
} 

.authenticate__colLeft {
  width: 50%;
  min-width: 560px;
  height: 100vh;
}

.authenticate__colRigth {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authenticate__colLeft--applicant {
  @extend .authenticate__colLeft;
  background: var(--color-bg-auth) url(/assets/bg-authenticate-applicant.png) no-repeat center center;
}

.authenticate__colLeft--recruiter {
  @extend .authenticate__colLeft;
  background: var(--color-tertiary) url(/assets/bg-authenticate-recruiter.png) no-repeat center center;
}

.authenticate__colRigth--applicant {
  @extend .authenticate__colRigth;
  background: var(--color-bg-auth);
}

.authenticate__colRigth--recruiter {
  @extend .authenticate__colRigth;
  background: var(--color-tertiary);
}

@media screen and (max-width: 1134px) {
  .authenticate__colLeft{
    display: none;
  }

  .authenticate__colRigth{
    width: 100%;
  }
}
