.authenticate {
  display: flex;
} 

.authenticate__colLeft {
  width: 50%;
  min-width: 560px;
  height: 100vh;
}

.authenticate__colRigth {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authenticate__colLeft--applicant {
  @extend .authenticate__colLeft;
  background: var(--color-bg-auth) url("bg-authenticate-applicant.png") no-repeat center center;
}

.authenticate__colLeft--recruiter {
  @extend .authenticate__colLeft;
  background: var(--color-tertiary) url("bg-authenticate-recruiter.png") no-repeat center center;
}

.authenticate__colRigth--applicant {
  @extend .authenticate__colRigth;
  background: var(--color-bg-auth);
}

.authenticate__colRigth--recruiter {
  @extend .authenticate__colRigth;
  background: var(--color-tertiary);
}

@media screen and (max-width: 1134px) {
  .authenticate__colLeft{
    display: none;
  }

  .authenticate__colRigth{
    width: 100%;
  }
}

.box__authorization {
  width: 400px;
  background-color: var(--color-white);
  padding: var(--space-xl) var(--space-l);
  border-radius: 1rem;
  box-shadow: var(--shadow-small);

  &--title {
    color: var(--color-primary);
    font-size: var(--font-size-xxl);
    text-align: center;
    margin-bottom: var(--space-xxl);
  }

  &--input {
    margin-bottom: var(--space-m);
  }

  &--input-check {
    margin-bottom: var(--space-m);

    & input[type=checkbox] {
      margin-right: var(--space-xs);
      font-weight: var(--font-weight-medium);
    }
  }

  &--links {
    text-align: center;
    margin-top: var(--space-m);

    & a:first-child {
      text-decoration: underline;
    }
  }

   @media screen and (max-width: 480px) {
    width: 320px;
   }
}

.back-to-home {
  color: var(--color-white);
  position: absolute;
  top: 2rem;
  right: 2rem;

  &:hover {
    color: var(--color-light);
  }
}
