.section__search {
  @include container;
  margin: 7rem auto var(--space-xxl) auto;
  background: hsl(218, 73%, 97%);
  border-radius: 1rem;
  padding: 5rem 10rem;

  @media (max-width: 768px) {
    padding: var(--space-m);
  }

  &-input {
    background-color: var(--color-white);
    box-shadow: 0px 18px 40px rgba(25,15,9,0.1);
    display: inline-block;
    border-radius: var(--space-xs);
    width: 100%;
    padding: var(--space-xs);
  }
  
  &--form {
    display: flex;
    
    & input {
      border: 0px solid rgba(26,15,9,0.1);
      border-radius: 0px;
      padding: 10px 20px;
      display: inline-block;
      width: 100%;

      @media (max-width: 768px) {
        padding: var(--space-xxxs) var(--space-xxxs);
      }
    }

    & input:focus {
      outline: none;
    }

    & .btn-find {
      @extend .btn-primary;
      width: 100px;
    }
  }
}

.section__vacancy {
  @include container;
  border-radius: var(--space-xxxs);
  border: 1px solid hsl(224.3,59%,92.4%);
  overflow: hidden;
  margin-bottom: var(--space-xxl);
  position: relative;
  background: hsl(222.9,100%,98.6%);

  &Header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--left {
      flex: 0 0 auto;
      width: 50%;
    }

    &--right {
      width: 50%;
      text-align: right;

      & .job-level {
        margin-top: var(--space-l);

        & .btn-gray {
          background-color: hsl(221.5,68.4%,96.3%);
          font-size: var(--font-size-xs);
          padding: var(--space-xxs) var(--space-s);
          margin: 0 15px 10px 15px;
          border-radius: 5px;
          color: hsl(226.7,90.2%,59.8%);
        }

        & .job-disabled {
          background-color: hsl(0,100%,50%);
          font-size: var(--font-size-xs);
          padding: var(--space-xxs) var(--space-s);
          margin: 0 15px 10px 15px;
          border-radius: 5px;
          color: var(--color-white);
        }
      }
    }

    @media screen and (max-width: 480px) {
      flex-direction: column;

      &--left,
      &--right {
        width: 100%;
        text-align: left;
      }
    }
  }

  .section__vacancyHeader {

    &--head-info {
      padding: 30px 20px 15px 20px;
      display: flex;
      position: relative;

      & .image-box {
        min-width: 52px;
        padding-right: var(--space-m);

        & .recruiter-image-profile {
          width: 52px;
          height: 52px;
          border-radius: 5px;
        }
      }

      & .left-info .job-code {
        font-size: var(--font-size-m);
        line-height: var(--line-height-body);
        color: var(--color-primary);
        font-weight: var(--font-weight-bold);
        display: block;
      }

      & .left-info .location {
        background: url("map-location.svg") no-repeat 0px 5px;
        display: inline-block;
        padding: 0px 0px 0px 20px;
        font-size: var(--font-size-s);
        color: hsl(212.5,14.5%,67.5%);
      }
    }
  }

  &Body {
    display: inline-block;
    width: 100%;
    padding: 5px 15px 20px 20px;

    & .job-name {
      margin-top: 0.5rem !important;

      & a {
        font-size: var(--font-size-xl);
      }
    }

    & .job-icons .card-briefcase {
      font-size: 15px;
      color: hsl(197.1,11.7%,35.1%);
      display: inline-block;
      padding: 0px 20px;
      background: url("company.svg") no-repeat 0px 5px;
    }

    & .job-icons .card-time {
      font-size: 15px;
      color: hsl(197.1,11.7%,35.1%);
      display: inline-block;
      padding: 0px 20px;
      background: url("clock-square.svg") no-repeat 0px 5px;
    }

    & .job-icons .job-description {
      font-weight: var(--font-weight-medium);
      font-size: 14px !important;
      line-height: 22px !important;
      color: hsl(197.1,11.7%,35.1%);
      margin-top: 0.25rem !important;
    }
  }

  &Footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 15px 20px 20px;

    &--left {
      flex: 0 0 auto;
      width: 58.33333333%;

      & .card-text-price {
        font-size: var(--font-size-s);
        line-height: 26px;
        padding-top: var(--space-xs);
        display: inline-block;
        color: hsl(226.7,90.2%,59.8%);
        font-weight: var(--font-weight-medium);
      }
    }

    &--right {
      flex: 0 0 auto;
      width: 41.66666667%;
      text-align: right !important;
    }
  }
}

/* Action show */
.show {
  @include container;
  margin-top: 100px;
  display: flex ;
  justify-content: space-between;

  &__title {

    &--h1 {
      color: var(--color-primary);
      font-size: var(--font-size-xxl);
    }

    &--span {
      color: hsl(213, 14%, 67%);
      font-size: var(--font-size-s);
    }

    &--span::before {
      content: url("time.svg");
      display: inline-block;
      padding: 0 5px 0 0;
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;

    .show__title--btn {
      margin: var(--space-s) 0;
      width: 100%;
    }
  }
}

.showCard {
  @include container;
  display: flex;
  column-gap: var(--space-xl);

  &__description--details,
  &__about div {
    border: 1px solid var(--color-light);
    padding: var(--space-l);
    border-radius: var(--space-m);
  }

  &__description {
    width: 70%;
    margin-top: var(--space-l);
  }

  &__about {
    width: 30%;
    margin-top: var(--space-l);

    & .paragraph-about {
      color: hsl(197.1, 11.7%, 35.1%);
      line-height: var(--line-height-body);
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__about,
    &__description  {
      width: 100%;
    }

    &__about {
      margin-bottom: var(--space-xxl);
    }
    
    .apply-to-vacancy-btn input {
      width: 100%;
    }
  }
}

.show__description {

  &-list {
    display: flex;
    flex-wrap: wrap;

    &--item {
      display: flex;
      width: 50%;
      min-width: 310px;

      & div,
      & span {
        width: 50%;
      }

      @media screen and (max-width: 1004px) {
        width: 100%;
      }
    }
  }
}

.item-icon {
  color: hsl(220, 21%, 51%);
  line-height: 2;
  font-weight: var(--font-weight-regular);
}

.item-icon-description {
  line-height: 2;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.icon-company::before {
  content: url("company.svg");
  display: inline-block;
  padding: 0 5px 0 0;                                                                                                                                 
}

.icon-sector::before {
  content: url("suitcase-sector.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-level::before {
  content: url("level.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-model::before {
  content: url("modality.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-type::before {
  content: url("contract.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-salary::before {
  content: url("job-salary.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-location::before {
  content: url("map-location.svg");
  display: inline-block;
  padding: 0 5px 0 0;
}

.icon-time::before {
  content: url("time-end.svg");
  display: inline-block;
  padding: 0px 5px 0 0;
}

.show__title--description {
  font-size: var(--font-size-l);
  color: var(--color-primary);
  margin-bottom: var(--space-m);
}

.show__title--card {
  @extend .show__title--description;
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-light);
}

.show__title--info {
  margin-top: var(--space-xxxl) ;

  & .paragraph-description {
    color: hsl(197.1, 11.7%, 35.1%);
    line-height: var(--line-height-body);
  }
}

.apply-to-vacancy-btn {
  margin: var(--space-xxxl) 0 var(--space-l) 0;
}

.disabled {
  cursor: not-allowed;
}

/* NEW/EDIT */
.form-benefits {
  display: flex;
  gap: 1rem;
  margin-top: var(--space-m);

  & input {
    @extend .input-field;
    flex-direction: row;
  }
}

.remove-benefit {
  border: none;
  border-radius: 8px;
  background-color: hsla(0, 0%, 0%, 0.350);
  padding: .5rem;
  cursor: pointer;
}

.remove-education {
  @extend .remove-benefit;
  margin-top: var(--space-s);
}

.add-benefits,
.add-education {
  margin: var(--space-l) 0;

  & button {
    display: flex;
    align-items: flex-start;
    background-color: #ffffff00;
    color: #fff;
    border: none;
    cursor: pointer;
    
    & img {
      margin-right: var(--space-s);
    }
  }
}

.list-benefits-item {
  list-style: none;
}