<footer class="footer">
  <div class="footer__inner">    
    <div class="footer__column">
      <%= image_tag "logo.png", alt: "Logo", width: "70" %>
      <ul class="footer__column--list">
        <li><a href="#">+55 11 992722723</a></li>
        <li><a href="#">dohiring@support.com</a></li>
      </ul>
      <ul class="footer__column--list footer__column--list-inline">
        <li class="list-inline-item">
          <%= link_to "https://www.linkedin.com/in/cleytonrsilva/", target: "_blank" do %>
            <i class='bx bxl-linkedin-square'></i>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to "https://github.com/rcleyton/", target: "_blank" do %>
            <i class='bx bxl-github'></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column--title">Institucional</h3>
      <ul class="footer__column--list">
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Fale conosco</a></li>
        <li><a href="#">Termos de uso</a></li>
        <li><a href="#">Política de privacidade</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column--title">Links úteis</h3>
      <ul class="footer__column--list">
        <li><a href="#">Publicar vagas</a></li>
        <li><a href="#">Buscar vagas</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column--title">Newsletter</h3>
      <form action="#" class="footer__column--form">
        <input type="text" placeholder="Digite seu email">
        <button type="submit">Assinar</button>
      </form>
      <p class="newsletter_text">Assine a newsletter para receber atualizações</p>
    </div>
  </div>
  <div class="footer__copy">
    <span>©<%= DateTime.now.year %> doHiring. 
      <a href="https://www.linkedin.com/in/cleytonrsilva/" target="_blank">
        Desenvolvidor por Cleyton R. Silva</span>
      </a>
  </div>
</footer>