<h3 class="mb-3">Minhas candidaturas</h3>

  <% if @candidatures.empty?%>
    <h1>Nenhuma canidatura ainda</h1>
  <% else %>
  <div class="table-responsive">
    <table class="table table-hover border border-primary-subtle">
      <thead>
      <tr class="table-primary">
        <th scope="col">Título da vaga</th>
        <th scope="col">Status</th>
        <th scope="col">Detalhes</th>
      </tr>
      </thead>
      <tbody>
      <% @candidatures.each do |candidature| %>
        <tr>
          <td><%= candidature.vacancy.title %></td>
          <td><%= candidature.status %></td>
          <td>
            <%= link_to applicants_dashboard_candidature_path(candidature) do %>
              <%= icon('fa-solid', 'eye') %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
  </div>

