<main>
  <h3 class="subtitle">Minha candidatura para a vaga:</h3>
    <p>
      <%= @candidature.vacancy.title %>
    </p>

    <h3>Por que devemos te contratar?</h3>
    <p>
      <%= @candidature.reason_application %>
    </p>
</main>