<div class="box">
  <h1 class="box__title">Minha candidatura para a vaga: <%= @candidature.vacancy.title %></h3>
  <hr class="divider">
  <h3 class="box__subtitle">Por que devemos te contratar?</h3>
  <p>
    <%= @candidature.reason_application %>
  </p>
</div>