<div class="container">
  <h1 class="title">Bem-vindo ao doHiring</h1>

  <div class="buttons">
    <%= link_to 'Quero Contratar', new_recruiter_registration_path, class: 'home-btn' %>
    <%= link_to 'Quero Trabalhar', new_applicant_registration_path, class: 'home-btn' %>
  </div>
</div>