<div class="container">
  <%= link_to 'Ver Vagas', vacancies_path %>
  
  <h1 class="title">Bem-vindo ao doHiring</h1>

  <div class="buttons">
    <%= link_to 'Quero Contratar', new_recruiter_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Quero Trabalhar', new_applicant_registration_path, class: 'btn btn-primary' %>
  </div>

</div>