<div class="box">
  <h1 class="box__title">Dashboard do Candidato</h1>
  <hr class="divider">

  <div class="box__options">
    <div class="option-card">
      <%= icon('fa-solid', 'user') %>
      <%= link_to 'Meu Perfil', new_applicants_dashboard_profile_path %>
    </div>

    <div class="option-card">
      <%= icon('fa-solid', 'suitcase') %>
      <%= link_to 'Minhas Vagas', applicants_dashboard_candidatures_path %>
    </div>
  </div>
</div>