<div class="box">
  <h1 class="box__title">Dashboardo do Candidato</h1>
  <hr class="divider">
  <h3 class="box__subtitle">Minhas candidaturas</h3>

  <ul>
    <% @candidatures.each do |candidature| %>
      <li><%= link_to candidature.vacancy.title, applicants_dashboard_candidature_path(candidature) %></li>
    <% end %>
  </ul>
</div>
