.btn {
  font-weight: var(--font-weight-medium);
  border-radius: 10px;
  cursor: pointer;
  padding: var(--space-xs) var(--space-m);
  margin: 0;
  transition: .3s;
  box-shadow: var(--shadow-small);
}

.btn-primary {
  @extend .btn;
  background-color: var(--color-primary-rotate);
  color: var(--color-light);
  border: 2px solid var(--color-primary-rotate);

  &:hover {
    color: var(--color-light);
    opacity: .9;
  }
}

.btn-primary-outline {
  @extend .btn;
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 2px solid var(--color-primary-rotate);

  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-white);
    border: 2px solid var(--color-tertiary);
  }
} 

.btn-save {
  @extend .btn;
  background-color: hsl(145, 63%, 42%);
  color: #000000;
  border-radius: var(--space-l);
  border: none;
  padding: var(--space-s) var(--space-l);

  &:hover {
    background-color: hsl(145, 63%, 33%);
  }
}

.btn-edit {
  @extend .btn;
  background-color: hsl(29, 76%, 50%);
  color: var(--color-white);

  &:hover {
    background-color: hsl(29, 76%, 40%);
  }
}

.btn-delete {
  @extend .btn;
  background-color: hsl(3, 71%, 52%);
  color: var(--color-white);

  &:hover {
    background-color: hsl(3, 71%, 42%);
  }
}

.btn-authorization {
  @extend .btn;
  width: 100%;
  border-radius: var(--space-xxs);
  border: none;

  &:hover {
    opacity: .9;
  }
}

.btn-authorization-applicant {
  @extend .btn-authorization;
  background-color: var(--color-bg-auth);
  color: var(--color-white);
  margin-bottom: var(--space-m);
}

.btn-authorization-recruiter {
  @extend .btn-authorization;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  margin-bottom: var(--space-m);
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-box-icon);
  cursor: pointer;
  padding: 4px;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #242424;
  border-radius: 50%;
  transform: rotate(180deg);
}






