.authenticate__recruiter {
  display: flex;
  
  & .col_left{
    width: 50%;
    height: 100vh;
    background: #177e89 url('bg-authenticate-recruiter.png') no-repeat center center;
  }
  
  & .col_rigth {
    background-color: #177E89;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.authenticate {
  width: 370px;

  &__title {
    color: #fff;
    text-align: left;
    margin: 1rem 0;
    font-weight: bold;
  }

  &__links a {
    float: right;
    color: #fff;
    text-decoration: none;
  }
}

label {
  color: #fff;
}

.error {
  color: rgb(236, 79, 79);
  padding-top: .4rem;
}

.back-to-home {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 5vw;
}

.back-to-home:hover {
  color: #9eeaf9;
}

@media (max-width: 1064px){
  .authenticate__recruiter {
    & .col_left {
      display: none;
    }
    & .col_rigth {
      width: 100%;
    }
  }
}
