.authenticate__applicant {
  display: flex;

  & .col_left {
    width: 50%;
    height: 100vh;
    background: #072ac8 url('bg-authenticate-applicant.png') no-repeat center center;
  }

  & .col_rigth {
    width: 50%;
    height: 100vh;
    display: flex;
    background: #072ac8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1064px){
  .authenticate__applicant {
    & .col_left {
      display: none;
    }
    & .col_rigth {
      width: 100%;
    }
  }
}