@import './mixins';

.recruiter-dashboard {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #0a2558;
  transition: all 0.5s ease;

  & .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
  }

  & .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
  }

  & .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }

  & .nav-links {
    margin-top: 10px;
  }

  & .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
  }

  & .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  & .nav-links li a.active {
    background: #081d45;
  }

  & .nav-links li a:hover {
    background: #081d45;
  }

  & .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  & .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }

  .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.sidebar-applicant {
  background-color: #058c42;

  & .nav-links li a.active {
    background: #004b23;
  }

  & .nav-links li a:hover {
    background: #004b23;
  }
}

.table-applicant {
  background-color: #004b23;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.box {
  @include box;
  margin-bottom: 2rem;

  &__title {
    @include box_title;
  }

  &__subtitle {
    @include box_subtitle;
  }

  &__paragraph {
    @include paragraph;
    color: #111827;
  }

  &__options {
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    & .option-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
    }

    & .option-card i {
      font-size: 2rem;
      color: #2bd47d;
      background: #c0f2d8;
      width: 4rem;
      height: 4rem;
      text-align: center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .option-card a {
      margin: 1rem 0;
      font-weight: 700;
      color: #004b23;
    }

    & .option-card-recruiter i {
      background-color: #cce5ff;
      color: #66b0ff;
    }
    & .option-card-recruiter a {
      color: #111827;
    }
  }
}

/* DASHBOARD PROFILE */

.form-control {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
  width: 100%;
}

.form-label {
  color: #111827;
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: .5rem 0;
}

.form-input {
  width: 100%;
  padding: .7rem .75rem;
  border-radius: .375rem;
  border: 1px solid #b7c3db;
}

.form-col-2 {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.form-col-2 input {
  width: 100%;
}

.divider {
  @include divider;
}

.save-btn {
  @include button;
  background-color: #081d45;
}

/* SHOW PROFILE */

.show_profile {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #e5e7eb;
}

.show_profile dt {
  font-size: .9rem;
  font-weight: 500;
  width: 40%;
}

.show_profile dd {
  width: 60%;
  font-size: 0.875rem;
  color: #374151;
}

/* EDIT PROFILE */

.btn-edit {
  @include button;
  background-color: #04D361;
  text-decoration: none;
}

.list {
  margin-bottom: 1rem;

  &__item {
    font-size: 1rem;
    padding: .5rem 0;
    font-weight: 700;
  }
  
  &__item i {
    padding-right: 1rem;
  }
  
  &__item a {
    text-decoration: none;
    color: #111827;
  }

  &__item a:hover {
    text-decoration: underline;
  }
}

.balloon-container {
  display: flex;
  flex-direction: column;
}

/* COMMENT BALLON */
.balloon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;

  & .date-comment {
    color: #6b7280;
    font-size: .9rem;
    margin-bottom: .7rem;
  }

  & p {
    color: #111827;
  }
}

.balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #f1f1f1;
  border-bottom: 10px solid transparent;
}

.balloon.right {
  align-self: flex-end;
}

.balloon.right::before {
  left: auto;
  right: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid #f1f1f1;
}

.favorite-applicant {
  width: 20px;
}

.box-candidature {
  display: flex;

  & .list-candidature {
    width: 50%;

    & li {
      padding: .5rem 0;
      color: #111827;
      font-weight: 600;
    }
  }
  
  & .favorite-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .favorite-btn .btn-edit {
    margin-bottom: 1rem;
  }
}

/* ALERTS */
.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

