.custom-navbar { 
  font-family: 'Open Sans', sans-serif;
  background: #2E004B;
}

#navbarDropdown::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 15px;
  background: #04d361;
}


