.section__vacancies {
  background-image: linear-gradient(to right top, #1e192c, #22223a, #242c49, #223658, #1b4167);
  height: 30vh;
  padding-top: 100px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.vacancy__box {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 1px solid #bebebe;
  border-radius: 10px;

  & .vacancy__info {
    display: flex;
    justify-content: space-between;
  }
}

.vacancy__box a {
  text-decoration: none;
  color: #223658;
}

.info-job,
.info-job-mode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-job-mode {
  justify-content: space-evenly;
}

.info-job ul li {
  color: #223658;
  padding: .5rem 0;
}

.info-job-mode p {
  color: #223658;
}

span.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #04d361;
  color: #fff;
}
