/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/dist/css/bootstrap.css";
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
 @import './mixins';

html {
  box-sizing: border-box;
  font-size: 16px;
}

/* CSS Reset */
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  padding: 0.7rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th:last-of-type, td:last-of-type {
  text-align: center;
}

th {
  background-color: #0A2558;
  color: #fff;
  font-weight: bold;
}

.active {
  color:#fff;
}

.list-candidature{
  margin: 0;
  padding: 0;
}

ul.list-benefits {
  list-style-type: square;
}
 