/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 @import './mixins';

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* CSS Reset */
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

main {
  width: 50vw;
  margin: 0 auto;
  padding: 3rem 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* List definition */
dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

dt {
  flex-basis: 35%;
  font-weight: bold;
  padding: .5rem 0;
}

dd {
  flex-basis: 65%;
  margin-left: 0;
  padding: .5rem 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Form Devise */
.field input[type="email"],
input[type="password"] {
  width: 100%;
}

.actions input {
  @include button;
  width: 100%;
}

/* Buttons */
.btn {
  @include button;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-edit {
  background-color: yellow;
}

/* Header */
header {
  display: flex;
  background-color: #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.nav-menu {
  @include nav-menu;

  & li {
    padding: .5rem 1rem ;
  }
  
  & a {
    text-decoration: none;
  }
}

/* Dashboard */
.title-vacancy {
  margin: 5rem 0;
}

// @import 'home';
 