@import './variables';
@import './mixins';

.section-welcome {
  background-image: linear-gradient(to right top, #e8f3f1, #c3ece6, #9be5db, #6bddd1, #00d5c8);
}

.section-welcome .section-content {
  min-height: 80vh;
}

.welcome-img {
  bottom: 0;
  animation: moveUpDown 2s ease-in-out infinite;
}

.welcome-title {
  @include title;
  font-family: 'Montserrat', sans-serif;
}

.welcome-subtitle {
  @include subtitle;
}

.welcome-paragraph {
  @include paragraph;
}

.info {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  &__recruiter,
  &__applicant,
  &__match {
    flex: 1;
  }
}

.info .subtitle::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 20px;
  margin-right: 15px;
  background: #04d361;
}

.footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
    font-size: 2.25rem;
    font-weight: bold;
    color: #7dbae5;
  }

  & .social i{
    color: #04d361;
    padding: 0 0.5rem;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 415px) and (orientation: portrait) {
  .welcome {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 100px;

    &__buttons a {
      width: 100%;
      text-align: center;
    }

    &__image {
      margin-top: 5rem;
    }
  }

  .info {
    flex-direction: column;
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .welcome {
    gap: 3rem;
  }
}