@import "./variables";
@import "./mixins";

.section-welcome .section-content {
  min-height: 80vh;
}

.welcome-img {
  bottom: 0;
  animation: moveUpDown 2s ease-in-out infinite;
}

.welcome-title {
  @include title;
  font-family: "Montserrat", sans-serif;
}

.welcome-subtitle {
  @include subtitle;
}

.section-paragraph {
  @include paragraph;
}

.cta-section {
  background: #EFEEFA;
  padding: 150px 0;
}

.cta-content p {
  color: #2E004B;
}

.welcome-subtitle::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 20px;
  margin-right: 15px;
  background: #04d361;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.custom-btn {
  @include button;
  @include md-shadow;
}

.custom-btn:hover {
  border: 2px solid #2E004B;
  background-color: #fff;
  color: #2E004B;
}

.custom-outline-btn {
  @include button;
  @include sm-shadow;
  border: 2px solid #2E004B;
  background-color: #fff;
  color: #2E004B;
}

.custom-outline-btn:hover { 
  @include button;
}