@import "./variables";
@import "./mixins";

.section-welcome .section-content {
  min-height: 80vh;
}

.welcome-img {
  bottom: 0;
  animation: moveUpDown 2s ease-in-out infinite;
}

.welcome-title {
  @include title;
  font-family: "Montserrat", sans-serif;
}

.welcome-subtitle {
  @include subtitle;
}

.section-paragraph {
  @include paragraph;
}

.cta-section {
  background-color: #ECFDFA;
  padding: 150px 0;
}

.welcome-subtitle::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 20px;
  margin-right: 15px;
  background: #04d361;
}

.testimonial-section {
  padding: 80px 0;
}

.testimonial-card {
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 100%);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.testimonial-icon {
  width: 50px;
  margin-bottom: 25px;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer {
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 100%);
  padding: 80px 0 0 0;
}

.footer-column {
  margin-bottom: 20px;
}

.list-unstyled li a {
  text-decoration: none;
  color: #fff;
}

.list-unstyled li a:hover {
  color: #ccc;
}

.newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.newsletter_form input {
  width: 100%;
  height: 45px;
  background: #fff;
  padding-left: 20px;
  font-size: 16px;
  color: #000;
  border: none;
}

.newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #04d361;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
}

.newsletter_text {
  font-size: 16px;
  color: #BABABA;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.custom-btn {
  @include button;
  @include md-shadow;
}

.custom-btn:hover {
  border: 2px solid #2E004B;
  background-color: #fff;
  color: #2E004B;
}

.custom-outline-btn {
  @include button;
  @include md-shadow;
  border: 2px solid #2E004B;
  background-color: #fff;
  color: #2E004B;
}

.custom-outline-btn:hover { 
  @include button;
}