<% flash.each do |type, message| %>
  <div class="flash-message <%= type %> flex items-center justify-between p-3 rounded shadow-md space-x-4" data-controller="flash">
    <p class="flex-1"><%= message %></p>
    <button data-action="click->flash#close" class="close-button bg-transparent border-none text-white cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
<% end %>


