<div class="dashboard__card">
  <div class="card__btn">
    <div class="card__btn--box card__btn--edit">
      <%= image_tag "pencil.svg", width: "24" %>
      <span>Editar perfil</span>
    </div>
    <div class="card__btn--box card__btn--view">
      <%= image_tag "eye.svg", width: "24" %>
      <span>Ver perfil</span> 
    </div>
    <div class="card__btn--box card__btn--welcome">
      <span>Seja bem-vindo</span>
      <h1>Cleyton Silva</h1>  
      <div class="card__btn--signout">
        <%= image_tag "exit.svg" %>
      </div>
    </div>
  </div>
</div>





